/* ===============================================================================
      Estilo.CSS - Nome do Site
      Tema: Segurança Almentar e Fome
      Grupo: Arthur Benevides, Artur Andrade, Davi Ramos, Miguel Ferreira e Willian Paz
   ============================================================================ */

   /* === 1. VARIÁVEIS GLOBAIS ===*/
   :root{
    --cor-primaria: #F57C00; 
    --cor-secundaria: #fbc02d;
    --cor-acento: rgb(222, 13, 13);
    --cor-fundo: #FFFFFF;  
    --cor-texto: #424242; 
    --cor-destaque: #FFD54F;

    --fonte-título: 'Special Elite', serif
   }

   h1 {font-family:Georgia, 'Times New Roman', Times, serif}

   /* === 2. RESET E CONFIGURAÇÕES GERAIS ===*/
   *{
      margin: 1;
      padding: 1;
      box-sizing: border-box;
   }
   /* === 3. TIPOGRAFIA ===*/
   h1, h2, h3, h4{
      font-family: var(--fonte-título);
   }

   h1{
      font-size: clamp(2rem, 5vw, 4rem);
   }

   p{
      margin-bottom: 1rem;
   }

   /* === 4. COMPONENTES REUTILIZÁVEIS ===*/
   .botao{
      background-color: cor var(--cor-primaria);
      color: white;
      padding: 12px 24px;
      border-radius: 8px;
      text-decoration: none;
   }

   .cards{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      margin: 30px 0;
   }

   .card{

      background-color:var(--cor-secundaria);
      border-radius: 10px;
      padding: 20px;
      transition: transform 0.3s ease;
   }

   .card:hover {
    transform: translateY(-5px);
}

   /* === 5. CABEÇALHO E NAVEGAÇÃO ===*/
   header{
      background-color: cor var(--cor-primaria);
   }

   nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   nav ul{
      display: flex;
      list-style: none;
   }

   nav a{
      color: cor var(--cor-texto);
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 5px;
      transition: 0.3s;
   }

   nav a:hover{
      background-color: var(--cor-acento);
     /* color: var(--cor-acento);*/
   }

   /* === 6. HOME ===*/
   .hero{min-height: 80vh;
   
   background-image: 
   linear-gradient(--cor-primaria), (cor var(--cor-secundaria)), (cor var(--cor-acento)), url(../Galeria/Imagens/Hero.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 80px;
}

   .hero-conteudo{
      max-width: 650px;
   }

   .subtitulo{
      color: cor var(--cor-texto);
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   .hero h1{
      color: cor var(--cor-texto);
      font-size: 4rem;
      margin-bottom: 25px;
      line-height: 1.2;
   }

   .descricao{
      color: var(--cor-texto);
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 40px;
   }

   .botao{
      display: inline-block;
      background-color: var(--cor-destaque);
      color: cor var(--cor-acento);
      padding: 15px 35px;
      text-decoration: none;
      border-radius: 8px;
      font-weight: bold;
      transition: 0.3s;
   }

   .botao:hover{
      background-color: var(--cor-acento);
      color: var(--cor-destaque);
      transform: translateY(-3px);
   }

   .logo{
      width: 30px;
      height: 30px
   }

   /* === 7. SOBRE ===*/
   /* === 8. TEMA ===*/
   .layout{
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 30px;  
   }

   aside{
      position: sticky;
      top: 20px;
      height: fit-content;
      background: var(--cor-secundaria);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
   }

   blockquote{
      background-color: #f8f8f8;
      border-left: 6px solid var(--cor-acento);
      padding: 20px;
      margin: 30px 0;
      font-style: italic;
      border-radius: 8px;
   }

   .autor{
      text-align: right;
      font-weight: bold;
      color: #555;
      margin-top: 10px;
   }
   /* === 9. MÍDIA ===*/
   .galeria{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }

   .galeria figure{
      margin: 0;
   }

   .galeria img{
      width: 100%;
      height: 350px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.5s ease;
   }

   .galeria img:hover{
      transform: scale(1.1);
   }

   .video{
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 10px;
   }
   /* === 10. CONTATO ===*/
   input:focus,
   textarea:focus,
   select:focus{
      outline: none;
      border: 3px solid var(--cor-secundaria);
      box-shadow: 0 0 5px rgb(202, 145, 1)
   }

   button:focus{
      background-color: var(--cor-acento);
      color: cor var(--cor-acento);
   }
   /* === 11. EXTRA ===*/
   .cards1{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      margin: 30px 0;
   }

    .card1{
      background-color:cor var(--cor-fundo);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 5px rgb(202, 145, 1) ;
      transition: transform 0.3s ease;
   }

   .card1:hover {
    transform: translateY(-5px);
   }

   .glossario{
      width: 100%;
      border-collapse: collapse;
   }

   .glossario th,
   .glossario td{
      border: 1px solid #ccc;
      padding: 12px;
   }

   .glossario th{
      background-color: var(--cor-acento);
      color: white;
   }

   .glossario tr:nth-child(even){
      background-color: var(--cor-primaria);
   }

   .glossario tr:nth-child(odd){
      background-color: var(--cor-secundaria);
   }

   a[target="_blank"]::after {
    content: " ↗";
    font-size: 0.8em;
   }
   /* === 12. RODAPÉ ===*/
   footer{
      text-align: center;
   }


   /* === 13. RESPONSIVIDADE ===*/
   @media(max-widht: 768px) {
      nav{
         flex-direction: column;
      }
   }