/* ===============================================================================
      Estilo.CSS - Nome do Site
      Tema: Segurança Almentar e Fome
      Grupo: Arthur Benevides, Artur Andrade, Davi Ramos, Miguel Ferreira e Willian Paz
   ============================================================================ */

   /* === 1. VARIÁVEIS GLOBAIS ===*/
   :root{
    --cor-primaria: #F57C00; 
    --cor-secundaria: #FBC02D;
    --cor-acento: #DE0D0D;
    --cor-fundo: #FFFFFF;  
    --cor-texto: #424242; 

    --fonte-título: 'Special Elite', serif
   }

   h1 {font-family:Georgia, 'Times New Roman', Times, serif}

   /* === 2. RESET E CONFIGURAÇÕES GERAIS ===*/
   *{
      margin: 1;
      padding: 1;
      box-sizing: border-box;
   }