/* ===============================================================================
      Estilo.CSS - Nome do Site
      Tema: Segurança Almentar e Fome
      Grupo: Arthur Benevides, Artur Andrade, Davi Ramos, Miguel Ferreira e Willian Paz
   ============================================================================ */

   /* === 1. VARIÁVEIS GLOBAIS ===*/
   :root{
    --cor-primaria: #F57C00; 
    --cor-secundaria: #FBC02D;
    --cor-acento: #DE0D0D;
    --cor-fundo: #FFFFFF;  
    --cor-texto: #424242; 

    --fonte-título: 'Special Elite', serif
   }

   h1 {font-family:Georgia, 'Times New Roman', Times, serif}

   /* === 2. RESET E CONFIGURAÇÕES GERAIS ===*/
   *{
      margin: 1;
      padding: 1;
      box-sizing: border-box;
   }
   /* === 3. TIPOGRAFIA ===*/
   h1, h2, h3, h4{
      font-family: var(--fonte-título);
   }

   h1{
      font-size: clamp(2rem, 5vw, 4rem);
   }

   p{
      margin-bottom: 1rem;
   }

   /* === 4. COMPONENTES REUTILIZÁVEIS ===*/
   .botao{
      background-color: cor var(--cor-primaria);
      color: white;
      padding: 12px 24px;
      border-radius: 8px;
      text-decoration: none;
   }

   .cards{
      background: white;
      border-radius: 10px;
      padding: 20px;
   }

   /* === 5. CABEÇALHO E NAVEGAÇÃO ===*/
   header{
      background-color: cor var(--cor-primaria);
   }

   nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   nav ul{
      display: flex;
      list-style: none;
   }

   nav a{
      color: cor var(--cor-texto);
      text-decoration: none;
      padding: 3px;
   }

   /* === 6. HOME ===*/
   .hero{min-height: 80vh;}

   /* === 7. SOBRE ===*/
   /* === 8. TEMA ===*/
   /* === 9. MÍDIA ===*/
   /* === 10. CONTATO ===*/
   /* === 11. EXTRA ===*/
   /* === 12. RODAPÉ ===*/
   footer{
      text-align: center;
   }

   /* === 13. RESPONSIVIDADE ===*/
   @media(max-widht: 768px) {
      nav{
         flex-direction: column;
      }
   }